<!DOCTYPE html>
<html>

<head>
    <title>历史记录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.3/dist/vue.js"></script>
    <style>
    .success{
        background-color: #e7f8e4;
        color: #848c82;
    }

    .failure{
        background-color: #cf4b52
        color: #848c82;
    }

    #termbutton{
        height: 20px;
        line-height: 20px;
    }
    </style>
</head>

<body>
<div id="app">
    <nav class="navbar navbar-expand-sm bg-light" style="padding-left: 15%;">
                <a class="navbar-brand" href="/" style="color: #4797d6"><b>H</b>56</a>
                <a class="navbar-brand" href='/tasks' style="color: #23527c;margin-left: 100px;"><i class="fa fa-history"></i> 历史</a>
    </nav>

    <div class="container">
        <div class="panel panel-default">
            <table class="table table-hover text-center" action="" method="post">
                <thead>
                  <tr>
                      <th>任务名称</th>
                      <th>运行设备</th>
                      <th>创建时间</th>
                      <th>结束时间</th>
                      <th>执行结果</th>
                      <th>终止任务</th>
                      <th>详细日志</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="task in tasks">
                      <td>{{!task.task_name}}</td>
                      <td>{{!task.device}}</td>
                      <td>{{!task.createdAt}}</td>
                      <td>{{!task.finishedAt}}</td>
                      <td :class="[task.result==='success'? 'success':'']">{{!task.result}}</td>
                      <td><input type="button" v-if="task.result==='暂未完成' || task.result==='重试中'" id="termbutton" value="终止" @click="terminate(task.id)"></td>
                      <td><a :href='"tasks/"+task.id+"/report"'>日志</a></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>
    var tasks = {% raw json_encode(tasks) %};
    new Vue({
        el: "#app",
        data: {
            tasks: tasks
        },
        methods: {
            terminate(id) {
                $.get('tasks/' + id + '/stop', function(res){alert("测试已终止")})
            }
        }
    });
</script>

</html>